<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxszj.mapper.sap.SapWlpzqdCqTbMapper" >
  <resultMap id="BaseResultMap" type="com.jxszj.pojo.sap.SapWlpzqdCqTb" >
  	<result column="id" property="id" jdbcType="VARCHAR" />
    <result column="ccdd" property="ccdd" jdbcType="VARCHAR" />
    <result column="ydlx" property="ydlx" jdbcType="VARCHAR" />
    <result column="tskc" property="tskc" jdbcType="VARCHAR" />
    <result column="xsdd" property="xsdd" jdbcType="VARCHAR" />
    <result column="xsddxm" property="xsddxm" jdbcType="INTEGER" />
    <result column="lrrq" property="lrrq" jdbcType="VARCHAR" />
    <result column="wl" property="wl" jdbcType="VARCHAR" />
    <result column="sl" property="sl" jdbcType="INTEGER" />
    <result column="wlpz" property="wlpz" jdbcType="VARCHAR" />
    <result column="wlpzxm" property="wlpzxm" jdbcType="INTEGER" />
    <result column="year" property="year" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, ccdd, ydlx, tskc, xsdd, xsddxm, lrrq, wl, sl, wlpz, wlpzxm, year
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jxszj.pojo.sap.SapWlpzqdCqTbExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sap_wlpzqd_cq_tb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <insert id="insertByBatch" parameterType="java.util.List">
    insert into sap_wlpzqd_cq_tb (id, ccdd, ydlx, tskc, 
      xsdd, xsddxm, lrrq, 
      wl, sl, wlpz, wlpzxm, year)
    values
    <foreach collection="list" item="item" index="index" separator=",">
    	(#{item.id,jdbcType=VARCHAR}, #{item.ccdd,jdbcType=VARCHAR}, #{item.ydlx,jdbcType=VARCHAR}, #{item.tskc,jdbcType=VARCHAR}, 
      #{item.xsdd,jdbcType=VARCHAR}, #{item.xsddxm,jdbcType=INTEGER}, #{item.lrrq,jdbcType=VARCHAR}, 
      #{item.wl,jdbcType=VARCHAR}, #{item.sl,jdbcType=INTEGER}, #{item.wlpz,jdbcType=VARCHAR}, #{item.wlpzxm,jdbcType=INTEGER}, #{item.year,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <update id="updateByExample" parameterType="map" >
    update sap_wlpzqd_cq_tb
    set id = #{record.id,jdbcType=VARCHAR},
      ccdd = #{record.ccdd,jdbcType=VARCHAR},
      ydlx = #{record.ydlx,jdbcType=VARCHAR},
      tskc = #{record.tskc,jdbcType=VARCHAR},
      xsdd = #{record.xsdd,jdbcType=VARCHAR},
      xsddxm = #{record.xsddxm,jdbcType=INTEGER},
      lrrq = #{record.lrrq,jdbcType=VARCHAR},
      wl = #{record.wl,jdbcType=VARCHAR},
      sl = #{record.sl,jdbcType=INTEGER},
      wlpz = #{record.wlpz,jdbcType=VARCHAR},
      wlpzxm = #{record.wlpzxm,jdbcType=INTEGER},
      year = #{record.year,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  
  
  	<insert id="createWlpzqdView">
		CREATE VIEW sap_wlpzqd_cq_tb_view AS SELECT id,SUM(sl) sl FROM sap_wlpzqd_cq_tb WHERE lrrq&lt;=#{currentDate} GROUP BY id
	</insert>
	
	<update id="dropView">
		DROP VIEW sap_wlpzqd_cq_tb_view
	</update>
	
	
	<update id="updateWlpzqd">
		UPDATE sap_wlpzqd_cq_tb t1,sap_wlpzqdvo_cq_tb t2 SET t1.id=t2.id ,t1.xsdd=t2.xsdd,t1.xsddxm=t2.xsddxm WHERE t1.wlpz=t2.wlpz AND t1.wlpzxm=t2.wlpzxm AND t1.year=t2.year AND t1.xsdd=''
	</update>
	
	
	
  	<!-- 清除id -->
	<update id="truncateTable">
		truncate table sap_wlpzqd_cq_tb
	</update>
</mapper>